<!DOCTYPE html>
{% load static from staticfiles%}
<html lang = "en">
<head>
	<title> Book Search </title>
	<link rel="stylesheet" href="{% static 'css/books.css' %}"/>
	<script src="{% static './jquery/jquery-3.4.1.min.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		    crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			crossorigin="anonymous"></script>

</head>

<body>
	<h1> Search Books </h1>
	<input id = "search">
	<button type="button" id="post"> Search </button>
<div>
	<table>
		<thead>
			<tr>
				<th scope = "col">Image</th>
				<th scope = "col">Title</th>
				<th scope = "col">Author</th>
				<th scope = "col">Published Date</th>
			</tr>
		</thead>
		<tbody id ="result">

		</tbody>
	</table>
</div>	
</body>

<script src ="{% static 'javascript/books.js' %}"></script>
</html>