<!DOCTYPE html>
{% load static %}
<html lang = "en">
<head>
	<title> Story 7 </title>
	<link rel="stylesheet" href="{% static './bootstrap-4.3.1/css/bootstrap.css' %}" type ="text/css">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	<script src="{% static './jquery/jquery-3.4.1.min.js' %}"></script>
</head>

<body>
	<div class ="container">
		<h1> Story 7 - Daniel Martin </h1>
		<div class = "toggle-container">
			<input type = "checkbox" id = "switch" name = "theme" /> <label for = "switch">Toggle</label>
		</div>
	</div>
	<script type="text/javascript" src="{% static './javascript/index.js' %}"></script>
	<div class = "wrapper">	
		<div class = "accordion_wrapper">
			<div class = "accordion_header">
				Aktivitas
			</div>
			<div class = "accordion_content">
				<p> Menikmati indahnya dunia
				</p>
			</div>
		</div>
		<div class = "accordion_wrapper">
			<div class = "accordion_header">
				Pengalaman Organisasi & Kepanitiaan
			</div>
			<div class = "accordion_content">
				<p> Paragita 2018-2019
				</p>
			</div>
		</div>
		<div class = "accordion_wrapper">
			<div class = "accordion_header">
				Prestasi
			</div>
			<div class = "accordion_content">
				<p> Juara 3 Lomba Makan Kerupuk Se-RW
				</p>
			</div>
		</div>
	</div>
</body>
</html>