html {
    height: 100%;
 
    display: grid;
    align-items: center;
    --bg: #5CDB95;
    --color-headings: #0077FF;
    --bg-panel :#8EE4AF ;
    --color-header: #EDF5E1 ;
    --bg-header :#EDF5E1;
    --color-text : #000000;
}

html[data-theme='dark'] {
    --bg: #05386B;
    --bg-panel :#1D4B79 ;  
    --color-headings: #3694FF;
    --color-text : #EDF5E1;
}

h1{
    color : var(--color-header);
}
body {
    background-color: var(--bg);
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--color-headings);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.accordion_wrapper{
    display : block;
    width : 100%;
    overflow :hidden;
}

.wrapper{
    width: 75%;
    margin : 50px auto 0;
}

.wrapper .accordion_wrapper .accordion_header{
    width : 50%;
    height :100%;
    background : var(--bg-header);
    border-radius :100px;
    padding : 20px;
    position :relative;
    cursor : pointer;
    margin : 10px 0;
}

.wrapper .accordion_wrapper .accordion_header:before,
.wrapper .accordion_wrapper .accordion_header:after{
    content: "";
    position :absolute;
    top : 50%;
    transform : translateY(-50%);
    background : var(--bg);
    right : 5%;
    width : 15px;
    height : 2px;
}

.wrapper .accordion_wrapper .accordion_header:after{
    transform: rotate(-90deg);
    transition: all 0.3s ease;
}

.wrapper .accordion_wrapper .accordion_header.active:after{
    transform: rotate(0);
}

.wrapper .accordion_wrapper .accordion_header.active + .accordion_content{
    height : 100px;
}

.wrapper .accordion_wrapper .accordion_content{
    overflow :hidden;
    width : 50%;
    height: 0px;
    background : var(--bg-panel);
    border-radius : 50px;
    transition: all 0.5s ease;
}

.wrapper .accordion_wrapper .accordion_content p{
    padding : 30px;
    font-size: 15px;
    color : var(--color-text);
}